<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256652788791-nhgo6escst103ll9obimsikthkt56kbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256652788791-nhgo6escst103ll9obimsikthkt56kbm</string>
	<key>API_KEY</key>
	<string>AIzaSyByS37R2rh-9K7ZwOa4aloL5GHA-FAFjFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>256652788791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photodiary.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>photo-diary-e45c1</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-diary-e45c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256652788791:ios:29a0aaa94006865bc1ebb2</string>
</dict>
</plist>